.nav-logo h1{
    line-height: 70px;
    content: red;
}
.mid{
    text-align: center;
}
.box-emage {
    height: 250px;
}
.image-avatar{
    height: 30px;
    width: 30px;
}
.image-post-detail {
    height: 400px;
}
.image-title {
    height: 500px;
}
.image-profile{
    height: 200px;
    width: 200px;
}
.form-edit-profile{
    margin-top: 15px;
    text-align: center;
}
.error-profile{
    color:red;
}
